/* Add a background color to the top navigation */

.topnav {
    background-color: rgb(5, 95, 131);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */

  .topnav a.active {
    background-color: #06b36b;
    color: white;
  }

/* center mountain images */

#Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}